@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Oswald:wght@200;300;400;500;600;700&display=swap');


/*..................................................................Colours*/

.bg-color-title-name {
    background-color: #7cbf40;
    margin-bottom: 40px;
    padding-bottom: 40px;
    align-items: center;
}

.bg-color-text-social {
    background-color: #7cbf40;
    padding-top: 20px;
    align-items: center;
}


/*....................................................................Heading*/


body {
    font-family: "Exo" , sans-serif;
    height: 100%;
}


header {
    margin: 0;
    height: unset;
    background-color: #7cbf40;
}

li, a {
    color:black;
    padding: 20px;
    line-height: 0.5;
}


.title  {
    font-size: 20px;
    margin-top: 35px;
    text-transform: uppercase;
    color: black;
    padding-left: 0;

}

.col-6 {
    margin-top: 2em;
}

.logo, #menu {
    line-height: 40px;
}

.logo {
    background: url("../image/logo.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 110px;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    padding-left: 150px;
    padding-bottom: 90px;
}


.menu {
    position: relative;
    font-size: 120%;
    list-style-type: none;
    letter-spacing: 5px;
    font-family: "Oswald" , sans-serif;
    margin-top: 5em;
    margin-right: -1em;
    padding-bottom: 35px;
}

li {
    float: left;
    overflow: hidden;
    text-transform: uppercase;
}


.menu li:hover {
    border-bottom: 1px solid #fff;
}

/*...............................................................................Section 1-Run*/

#run-image {
    background: url("../image/run.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height:650px;
    width: 100%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

    animation-name: run-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin-left: 1em;
}


#run-outer {
    height: 600px;
    width: 120%;
    overflow: hidden;
    position: relative;
    margin-left: -12%;
    margin-right: 0;
}

@keyframes run-zoom {
    from{
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}



#cover-text, #cover-text ul {
    font-size: 18px;
    font-family: "Oswald" , sans-serif;
    text-transform: capitalize;
    letter-spacing: 5px;
    width: 350px;

    padding-left: 5px;

    background-color: rgb(178, 241, 220, 0.5);
    

    bottom: 10px;
    left: 50px;

    position: absolute;
}



/*...............................................................................Section 2-Reasons*/


#top-reasons {
    height: 600px;
}



#welcome {
    text-align: center;
    margin: 25px 0;
    font-size: 260%;
}

hr {
    border-top: 1px solid rgb(3, 3, 3);
    width: 100%;
    margin-left: 0px;
}



#circle-container {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: thistle;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#bg-circle-cover {
    background: url("../image/man-smile.jpg");
    background-repeat:no-repeat;
    background-position: right;
    background-size: cover;
    height:100%;
    width: 100%;
    padding: 30px;
    margin: 0 auto;
    border-radius: 80%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

#center {
    align-self: center;
}

#about {
    display: block;
    margin-block-start: 2em;
    margin-block-end: 2em;
    margin-inline-start: 15px;
    margin-inline-end: 35%;
}

table {
    letter-spacing: 1px;
    text-align: center;
    margin:20px;
    background-color: azure;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid black; 
    border-collapse: collapse;
}


thead {
    text-transform: uppercase;
}

.subject {
    font-size: 14pt;
    margin-bottom:5px;
    color:rgb(36, 37, 37);
    background-color:#557e72 ;
  }

  .time {
        font-size: 12pt;
        font-style: italic;
        color:rgb(36, 37, 37);
  }

#info {
    padding: 0px;
}

  .form-control {
    display: block;
    font-size: 1em;
    width: 30%;
    border: 1px solid rgb(36, 37, 37);
}

.form-floating>.form-control {
    width: 50%;
    height: 150px;
}

p > a {
    padding: 0px;
}

p {
    color:rgb(0, 0, 0)
}

section {
    margin-bottom: 20px;
}

/*...............................................................................Footer*/

footer {
     height: unset;
     background-color: #7cbf40;
    }


.social {
    padding-bottom: 45px;
}

.social-networks {
    align-self: center;
    
}

.social-networks i {
    font-size: 100%;
    margin: 1%;
    padding: 5%;
}


ul {
    margin-top: 4em;
}


/*...............................................................................Media query*/



@media (max-width: 575.98px) { ... }


@media (max-width: 767.98px) { 
    

    #about {
        margin-inline-end: inherit;
    }

    #run-image {
        height: 200px;
        width: 100%;
    }

    #cover-text {
        left: 0px;
    }

    [class*="col-md-4"] {
        width:100%;
    }
}



}


@media (max-width: 991.98px) { ... }


@media (max-width: 1199.98px) { ... }


@media (max-width: 1399.98px) { ... }

